name: CI Pipeline

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create build output
        run: |
          mkdir build
          echo "This is my CI build artifact" > build/output.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-build-artifact
          path: build/

      
